<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <RefreshFrequency>2</RefreshFrequency>
  <RssLinks>
    <string>http://lorem-rss.herokuapp.com/feed?unit=second</string>
    <string>https://habr.com/rss/interesting/</string>
  </RssLinks>
</Config>